
.container {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  background: #ececec;
}

.middle {
  background: black;
  display: flex;
  flex: 1;
  align-items: center;
  overflow-y: auto;
  align-items: stretch;
}
.horizontal {
  flex-flow: column nowrap;
}

.flashcardSection {
  display: none;
}

.media {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.horizontal .media {
  max-height: 100%;
  width: 100%;
}

.floatingActionButton {
  position: fixed !important;
  bottom: calc(70px + 3rem);
  right: 2rem;
}